{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link  rel="stylesheet" href="{% static 'css/signin.css' %}">
    
    <title>Register</title>
</head>

<body class="text-center">
    
    <form method="POST" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Registrate</h1>
        <div class="form-group bg-light p-4">
        {% csrf_token %}
        {{ form|crispy }}
        </p>
				<p>Ya tenés una cuenta? <a href="/">Entrá acá</a></p>
        <input type="submit" value="Registrar" />
    </div> 
    </form>
</body>

</html>
